
h1{
    display: inline;
}

/* Navigation Bar */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #333;
}
nav a{
    float: left;
    display: block;
    font-size: 15px;
    text-decoration: none; 
    padding: 14px 16px;
    border-right: 1px solid #bbb;
    color: white;
    font-family: Arial;
}
nav a:hover{
    background-color: #001aff; 
}
.currentPage{
    float: right;
    background-color: #2D5DCC;
    font-size: 15px;
    text-decoration: none; 
    padding: 14px 16px;
    border-left: 1px solid #bbb;
    color: white;
    font-family: Arial;
}
h2{
    text-align: center;
    display: block;
}
h3{
    text-decoration: underline;
}
/* Table Design */
.colorsTable{
    width: 100%;
    border: 1px solid #2D5DCC;
}
.colorsTable thead{
    background-color: #2D5DCC;
    color: white;
    text-align: center;
}
.colorsTable td{
    width: 33%;
}
.cRow{
    height: 50px;
}
.yearTable{
    width: 100%;
    border: 1px solid #2D5DCC;
    height: 100%;
}
.yearTable thead{
    background-color: #2D5DCC;
    color: white;
    text-align: center;
}
.yearTable td{
    width: 25%;
    padding: 15px;
    height: 100%;
}
#red{
    background-color: #FF0000;
}
#green{
    background-color: #00ff00;
}
#blue{
    background-color: #0000FF;
}
#coolBlue{
    background-color: #2D5DCC;
}
#mintGreen{
    background-color: #4fe0b0;
}
#bordeaux{
    background-color: #5F021F;
}
#classicBlue{
    background-color: #34568b;
}
#livingCoral{
    background-color: #FF6F61;
}
#ultraViolet{
    background-color: #6B5B95;
}
#greenery{
    background-color: #88B04B;
    height: 100%;
}