
h1{
    display: inline;
}
body{
    padding: 0px; 
}
/* Navigation Bar */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #333;
}
nav a{
    float: left;
    display: block;
    font-size: 15px;
    text-decoration: none; 
    padding: 14px 16px;
    border-right: 1px solid #bbb;
    color: white;
    font-family: Arial;
}
nav a:hover{
    background-color: #001aff; 
}
.currentPage{
    float: right;
    background-color: #2D5DCC;
    font-size: 15px;
    text-decoration: none; 
    padding: 14px 16px;
    border-left: 1px solid #bbb;
    color: white;
    font-family: Arial;
}
h2{
    text-align: center;
    display: block;
}
h3{
    text-decoration: underline;
    text-align: left;
    display: inline-block;
}
/* Font listing */
table{
    width: 100%;
}
div{
    display: inline-block;
    vertical-align: top;
}
.boldLetters{
    font-weight: bold;
}
.italicLetters{
    font-style: italic;
}
.arial{
    font-family: Arial;
}
.verdana{
    font-family: Verdana;
}
.helvetica{
    font-family: Helvetica;
}
.tahoma{
    font-family: Tahoma;
}
.trebuchetMs{
    font-family: 'Trebuchet MS';
}
.cursive{
    font-family: cursive;
}
.monospace{
    font-family: monospace;
}
.courier{
    font-family: courier;
}