
h1{
    display: inline;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #333;
}
nav a{
    float: left;
    display: block;
    font-size: 15px;
    text-decoration: none; 
    padding: 14px 16px;
    border-right: 1px solid #bbb;
    color: white;
    font-family: Arial;
}
nav a:hover{
    background-color: #001aff; 
}
.currentPage{
    float: right;
    background-color: rgb(46, 46, 194);
    font-size: 15px;
    text-decoration: none; 
    padding: 14px 16px;
    border-left: 1px solid #bbb;
    color: white;
    font-family: Arial;
}